<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}


<!-- /.masthead -->
<header class="masthead">
	<div class="wrap">
		<a href="{{ site.url }}/" class="site-description-home" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/assets/images/logo_t3d_full.png" width="500" height="300" alt="{{ site.title }} fullogo" class="site-description animated fadeInDown"></a>
	</div>
</header><!-- /.masthead -->

<div class="js-menu-screen menu-screen"></div>
